@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.page-title {
  font-family: 'Calistoga', serif;
}

#nav-title {
  font-family: 'Goblin One', serif;
  /* color: #fff; */
}

.page-copy {
  font-family: 'Lato', sans-serif;
  font-weight: 400;

}

.nav-link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #fff !important;
}
.nav-link:hover {
  color: yellow !important;
}

.sub-title {
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

#landing-banner {
  /* display: block; */
  margin: 0 auto; 
  padding: 50px 0;
  background-image: url('./puzzle-piece.png');
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: center;
  
}

#landing-banner:hover {
  transform: rotate(-5deg)
}

#miss-cindy {
  font-family: 'Homemade Apple', cursive;
  font-size: 30px;
  /* to use transform on a span, we must
  set the display to inline-block or block */
}
#m4a {
  font-family: 'Goblin One', serif;
}

#puzzle-piece {
  /* z-index: -1; */
  width: 100px;
  height: 100px;
  position: relative;
  top: -80px;
  left: 50px;
  transform: rotate(0.9turn)
}

#puzzle-piece:hover {
  /* z-index: -1; */
  width: 120px;
  height: 120px;
  transform: scale(1.5);
}

