@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.page-title {
  font-family: 'Calistoga', serif;
}

#nav-title {
  font-family: 'Goblin One', serif;
  /* color: #fff; */
}

.page-copy {
  font-family: 'Lato', sans-serif;
  font-weight: 400;

}

.nav-link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #fff !important;
}
.nav-link:hover {
  color: yellow !important;
}

.sub-title {
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

#miss-cindy {
  font-family: 'Homemade Apple', cursive;
  /* 
  to use transform on a span, we must
  set the display to inline-block or block
  display: inline-block;
  transform: rotate(0.9turn); */
}
#m4a {
  font-family: 'Goblin One', serif;
}